.customButton {
  padding: 19px 40px;
  background-color: #4F27BF;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  gap: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  svg path{
    fill:#ffffff;
  }
}


